[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
pre-commit = "*"
black = "*"

[packages]
pydantic = "*"
postdb = "*"

[pipenv]
allow_prereleases = true

[scripts]
test = "python -m pytest"
lint = "pre-commit run --all-files"
