[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
pre-commit = "*"
black = "*"

[packages]
postdb = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.8"
